@model LccomponentesWeb.Models.ViewModels.ProductFormViewModel; 

@{
    ViewData["Title"] = "Registrar Produto";
}
<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Nome:</label>
                <input asp-for="Product.Name" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Informações do Produto:</label>
                <input asp-for="Product.Description" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Preço:</label>
                <input asp-for="Product.Price" class="form-control" placeholder="Digite o preço (ex: 10.50)" type="number" step="0.01" inputmode="decimal" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Quantidade:</label>
                <input asp-for="Product.Quantity" class="form-control" />
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label">Categoria de Produto:</label>
                <select asp-for="Product.CategoryId" asp-items="@(new SelectList(Model.Category,"Id","Name"))" class="form-control">
                </select>
            </div>
            <br />
            <br/>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-info" />
            </div>
        </form>
        <br/>
        <a asp-action="Index" class="btn btn-warning">Voltar</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




    