@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<br />
<h1 class="text-danger">@ViewData["Title"]</h1>
<br/>
<h2 class="text-danger">@Model.Message</h2>

<br />
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}